{% extends 'school/homebase.html' %}


{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4">Administrador</h1>
  <p class="lead">Bienvenido Al Sistema Escolar Uno.</p>
  <hr class="my-4">
  <p>Seleccione una opcion para continuar...</p>
  <p class="lead">
    <a class="btn btn-danger btn-lg" href="adminsignup" role="button">Registrarse</a>
    <a class="btn btn-success btn-lg" href="adminlogin" role="button">Iniciar</a>
  </p>
</div>

{% endblock content %}
